# ansible managed

[Unit]
Description = ClamAV Local Filesystem Scan
After = clamav-freshclam.service clamav-clamd.service
{% if clamav_enable_freshclam %}
After = clamav-freshclam.service
Requires = clamav-freshclam.service
{% endif %}

[Service]
ExecStart = /usr/bin/clamdscan {{ molecule_test_scheduled_scan_dir | default('/') }} \
--database=/var/lib/clamav \
--exclude=/dev \
--exclude=/proc \
--exclude=/run \
--exclude=/sys \
--infected \
--max-filesize={{ clamav_clamscan_max_filesize }} \
--max-scansize={{ clamav_clamscan_max_scansize }} \
--recursive \
--stdout \
--tempdir=/var/tmp/clamav-clamscan \
{{ clamav_remediation_action }}
SuccessExitStatus = 0 1
