# ansible managed

[Unit]
Description = ClamAV Local Filesystem Scan
{% if clamav_enable_on_access_scanner %}
After = clamav-freshclam.service clamav-clamonacc.service clamav-clamd.service
{% endif %}
{% if clamav_enable_freshclam %}
After = clamav-freshclam.service
Requires = clamav-freshclam.service
{% endif %}

[Service]
{% if clamav_enable_on_access_scanner %}
ExecStartPre = /usr/bin/systemctl stop clamav-clamonacc.service clamav-clamd.service
{% endif %}
ExecStart = /usr/bin/clamscan {{ molecule_test_scheduled_scan_dir | default('/') }} \
--database=/var/lib/clamav \
--exclude=/dev \
--exclude=/proc \
--exclude=/run \
--exclude=/sys \
--infected \
--max-filesize={{ clamav_clamscan_max_filesize }} \
--max-scansize={{ clamav_clamscan_max_scansize }} \
--recursive \
--stdout \
--tempdir=/var/tmp/clamav-clamscan \
{{ clamav_remediation_action }}
SuccessExitStatus = 0 1

{% if clamav_enable_on_access_scanner %}
ExecStopPost = /usr/bin/systemctl start clamav-clamonacc.service
{% endif %}
