# ansible managed

[Unit]
Description = ClamAV Userspace Scanner Daemon
{% if clamav_enable_freshclam %}
After = clamav-freshclam.service syslog.target nss-lookup.target network.target
Requires = clamav-freshclam.service
{% endif %}
PartOf=clamav.target

[Service]
Type = forking

User = {{ clamav_clamd_service_user | default('clamscan') }}
{% if not clamav_systemd_run_from_user_home | default(false) %}
ExecStart = /usr/sbin/clamd -c /etc/clamd.d/scan.conf {{ '--debug' if clamav_verbosity else '' }}
{% else %}
ExecStart = /home/{{ ansible_user }}/git/clamav-devel/build/install/usr/sbin/clamd -c /etc/clamd.d/scan.conf {{ '--debug' if clamav_verbosity else '' }}
{% endif %}

Restart = on-failure

[Install]
WantedBy = multi-user.target