# ansible managed

[Unit]
Description = ClamAV On-Access Notifier
After = clamav-clamd.service syslog.target network.target
Requires = clamav-clamd.service
PartOf=clamav.target

[Service]
Type = simple
LimitNOFILE={{ clamav_onaccess_ulimit }}

# https://github.com/Cisco-Talos/clamav/issues/186
ExecStartPre=/bin/sleep 32

{% if not clamav_systemd_run_from_user_home | default(false) %}
ExecStart = /usr/sbin/clamonacc -F -c /etc/clamd.d/scan.conf {{ clamav_remediation_action }} --{{ clamav_file_pass_option }} {{ '--verbose' if clamav_verbosity else '' }}
{% else %}
ExecStart = /home/{{ ansible_user }}/git/clamav-devel/build/install/usr/sbin/clamonacc -F -c /etc/clamd.d/scan.conf {{ clamav_remediation_action }} --{{ clamav_file_pass_option }} {{ '--verbose' if clamav_verbosity else '' }}
{% endif %}

# workaround for https://gitlab.com/goshansp/clamav_onaccess/-/issues/5
ExecStop = /bin/kill -s SIGKILL $MAINPID
SuccessExitStatus = SIGKILL SIGTERM

Restart = on-failure

[Install]
WantedBy = multi-user.target
