# ansible managed

[Unit]
Description = ClamAV Control Target
{% if clamav_enable_on_access_scanner %}
Requires = clamav-clamonacc.service
{% endif %}

[Install]
WantedBy = multi-user.target
{% if clamav_enable_on_access_scanner %}
Also = clamav-clamd.service
Also = clamav-clamonacc.service
{% endif %}
Also = clamav-freshclam.timer
Also = clamav-clamscan.timer