# ansible managed

[Unit]
Description = Timer for triggering ClamAV Local Filesystem Scan
PartOf=clamav.target

[Timer]
OnCalendar = {{ clamav_clamscan_starttime }}
RandomizedDelaySec = {{ clamav_clamscan_randomized_delay_sec }}
Unit = clamav-clamscan.service

[Install]
WantedBy = multi-user.target
