# ansible managed

[Unit]
Description = Timer for triggering ClamAV Userspace Freshclam Database Updater
PartOf=clamav.target

[Timer]
OnCalendar = {{ clamav_freshclam_update_starttime }}
RandomizedDelaySec = {{ clamav_freshclam_update_randomized_delay_sec }}
Unit = clamav-freshclam.service

[Install]
WantedBy = multi-user.target
