[copr-cli]
login = {{ lookup('env','COPR_LOGIN' ) }}
username = {{ lookup('env','COPR_USERNAME' ) }}
token = {{ lookup('env','COPR_TOKEN' ) }}
copr_url = https://copr.fedorainfracloud.org
# expiration date: 2022-01-19