# ansible managed

DatabaseDirectory /var/lib/clamav
{% if clamav_freshclam_database_mirror is defined %}
PrivateMirror {{ clamav_freshclam_database_mirror }}
{% else %}
DatabaseMirror database.clamav.net
{% endif %}
NotifyClamd /etc/clamd.d/scan.conf
{% if http_proxy_server is defined %}
HTTPProxyServer {{ http_proxy_server }}
{% endif %}
{% if http_proxy_port is defined %}
HTTPProxyPort {{ http_proxy_port }}
{% endif %}
