# ansible managed
$umask 0000
$FileCreateMode 0640
$FileGroup {{ clamav_log_group | default ('root') }}

:programname, isequal, "clamd" /var/log/clamav.log
:programname, isequal, "clamonacc" /var/log/clamav.log
:programname, isequal, "freshclam" /var/log/clamav.log
:programname, isequal, "clamscan" /var/log/clamav.log
:programname, isequal, "systemd" /var/log/clamav.log

{% if clamav_verbosity %}
$ModLoad imjournal
$imjournalRatelimitInterval 0
$imjournalRatelimitBurst 0
{% endif %}
