# ansible managed

{% if clamav_file_pass_option == 'stream' %}
TCPSocket 3310
TCPAddr 127.0.0.1
{% else %}
LocalSocket /run/clamd.scan/clamd.sock
LocalSocketMode 660
{% endif %}

TemporaryDirectory /var/tmp/clamav-clamd

MaxConnectionQueueLength {{ clamav_clamd_max_connection_queue_length }}
MaxThreads {{ clamav_clamd_max_threads }}
MaxQueue  {{ clamav_clamd_max_queue }}
StreamMaxLength {{ clamav_clamd_stream_max_length }}

{% if clamav_enable_on_access_scanner == True %}

OnAccessExcludeUname {{ clamav_clamd_service_user | default('clamscan') }}
OnAccessExtraScanning yes
OnAccessMaxFileSize {{ clamav_onaccess_max_filesize }}

{% if molecule_watch_test_dir_only | default(false) %}
OnAccessIncludePath {{ molecule_test_scan_dir }}
{% else %}
{% for path in onaccess_include_paths %}
OnAccessIncludePath {{ path }}
{% endfor %}

# clamav_onaccess_exclude_sub_directories
{% for path in clamav_onaccess_exclude_sub_directories %}
OnAccessExcludePath {{ path }}
{% endfor %}

# clamav_onaccess_exclude_additional_directories
{% for path in clamav_onaccess_exclude_additional_directories %}
OnAccessExcludePath {{ path }}
{% endfor %}

# clamav_onaccess_exclude_host_directories
{% for path in clamav_onaccess_exclude_host_directories %}
OnAccessExcludePath {{ path }}
{% endfor %}
{% endif %}
{% endif %}